__pycache__/
build/
dist/
*.db
*.log
*.zip
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.pdf
GPU_test_output/
testOUTPUT/
testOUTput2/
remote_screens/
mupdf_download/
Direct2DRenderer/build/
Direct2DRenderer/artifact/
